
.text{
    margin-right: 70%;
    font-size: 25px;
    margin-top: 1%;
    line-height: 40px;
}

.color-text{
    color: #00a1fc;
}

.text-1{
    margin-right: 50%;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 5%;
    line-height: 30px;
}

.side-space{
    margin-left: 10%;

}

.img-home{
    background-image: url("../../imgs/bike.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 85vh;
    display: flex;
}

.low-space{
    margin-top: 5%;
}

.title{
    font-size: 50px;
    font-weight: 500;
}

.title-1{
    font-size: 30px;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 2%;
}

.title-2{
    font-size: 30px;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 2%;
}

.img-title2{
    border-radius: 25px;
    margin-top: 2%;
}

.img-adjustment{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 2%;
    
    & div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.title-img{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2%;
}

.text-img{
    margin-top: 2%;
    width: 450px;
    text-align: center;
    line-height: 20px;
}